<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:database.properties"/>
	</bean>

	<!-- Pages -->
	<bean name="contactsPage" class="org.danisoft.ui.pages.ContactsPage">
		<property name="contactsService" ref="contactsService" />
	</bean>

	<!-- Services -->
	<bean name="contactsService" class="org.danisoft.services.impl.ContactsServiceImpl">
		<property name="contactDao" ref="contacDao" />
		<property name="jcrTemplate" ref="jcrTemplate" />
	</bean>

	<!-- DAO's -->
	<bean name="contacDao" class="org.danisoft.dao.impl.ContactDaoImpl">
		<property name="contactMapper" ref="contactMapper" />
		<property name="personMapper" ref="personMapper" />
		<property name="phoneNumberMapper" ref="phoneNumberMapper" />
	</bean>

	<!-- JCR -->
	<bean id="repositoryFactory" class="org.danisoft.repo.impl.RepositoryFactoryBeanImpl">
		<!-- normal factory beans params -->
		<property name="xml" value="classpath:repository.xml" />
		<property name="path" value="./jackrabbit" />
	</bean>

	<bean id="jcrSessionFactory" class="org.danisoft.repo.impl.JcrSessionFactoryImpl"
		init-method="openSession" destroy-method="closeSession">
		<property name="repositoryFactory" ref="repositoryFactory" />
		<property name="credentials">
			<bean class="javax.jcr.SimpleCredentials">
				<constructor-arg index="0" name="userID" value="admin" />
				<constructor-arg index="1" name="password">
					<bean factory-bean="password" factory-method="toCharArray" />
				</constructor-arg>
			</bean>
		</property>
	</bean>

	<bean id="password" class="java.lang.String">
		<constructor-arg index="0" value="admin" />
	</bean>

	<bean id="jcrTemplate" class="org.danisoft.repo.impl.JcrTemplateImpl">
		<property name="sessionFactory" ref="jcrSessionFactory" />
	</bean>

	<!-- MyBatis -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://www.freesql.org:3306/personalFinanceDB" />
		<property name="username" value="${database.username}" />
		<property name="password" value="${database.password}" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="contactMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.danisoft.Mapper.ContactMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="personMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.danisoft.Mapper.PersonMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="phoneNumberMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="org.danisoft.Mapper.PhoneNumberMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

</beans>
