<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
 		<typeAlias type="org.danisoft.model.Contact" alias="Contact"/>
 		<typeAlias type="org.danisoft.model.Person" alias="Person"/>
 		<typeAlias type="org.danisoft.model.PhoneNumber" alias="PhoneNumber"/>
 		<!-- typeAlias type="org.danisoft.model.Company" alias="Company"/ -->
 	</typeAliases>
</configuration>