<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.danisoft.Mapper.PersonMapper">
	<resultMap type="Person" id="personResultMap">
		<id column="contact_id" property="id"/>
		<result column="contact_name" property="name"/>
		<result column="contact_address" property="address"/>
		<result column="person_lastname1" property="lastName1"/>
		<result column="person_lastname2" property="lastName2"/>
	</resultMap>
	
	<sql id="personSelect">
		SELECT
			c.id AS contact_id,
			c.name AS contact_name,
			ct.code AS contact_type,
			c.address AS contact_address,
			p.lastname1 AS person_lastname1,
			p.lastname2 AS person_lastname2
		FROM 
			Contact c  
			LEFT JOIN Person p ON c.id = p.contact 
			JOIN ContactType ct ON ct.id = c.contactType
		WHERE
			ct.id = 1
	</sql>
	
	<select id="getAll" resultMap="personResultMap">
		<include refid="personSelect"/>
	</select>

	<select id="get" parameterType="int" resultType="Person">
		SELECT
			c.id AS id,
			c.name AS name,
			ct.code AS type,
			c.address AS address,
			p.lastname1 AS lastName1,
			p.lastname2 AS lastName2
		FROM 
			Contact c  
			LEFT JOIN Person p ON c.id = p.contact 
			JOIN ContactType ct ON ct.id = c.contactType
		WHERE
			ct.id = 1
			AND c.id = #{id}
	</select>
	
	<insert id="save" parameterType="Person" flushCache="true">
		INSERT INTO Person (contact, lastname1, lastname2) values(#{id}, #{lastName1}, #{lastName2})
	</insert>
	
	<update id="update" parameterType="Person" flushCache="true">
		UPDATE 
			Person
		SET
			 lastname1 = #{lastName1},
			 lastname2 = #{lastName2}
	 	WHERE
		 	contact = #{id}
	</update>
	
	<delete id="delete" parameterType="Person" flushCache="true">
		DELETE FROM
			Person
		WHERE
			contact = ${id}
	</delete>
	
</mapper>